var rate = function (value) {
  var str = ''
  switch (value) {
    case 0:
      str = ''
      break
    case 1:
      str = '很不满意'
      break
    case 2:
      str = '不满意'
      break
    case 3:
      str = '一般'
      break
    case 4:
      str = '满意'
      break
    case 5:
      str = '很满意'
      break
    default:
      str = ''
      break
  }
  return str
}
module.exports = {
  rate: rate
}